.App {
  text-align: center;
}

.loops {
   display: flex;
   flex-direction: row;
   margin : auto;
   justify-content: center;
   align-items: center;
   width: 50%;
}


.draw {
  display: flex;
  width : 80px;
  height: 80px;
  margin: 10px;
  border-radius: 10px;
}

.sub-btn {
    border: 1px solid #fff;
    background-color: #4D352D;
    border-radius: 5px;
    color: #fff;
    margin: 5px;
    width : 60px;
    height: 30px;
    font-family: 'Baloo Bhai 2'
}

.main-btn {
  border: 1px solid #fff;
  background-color: cadetblue;
  border-radius: 5px;
  color: #fff;
  margin: 5px;
  /* width : 60px; */
  height: 30px;
  font-family: 'Baloo Bhai 2'
}

/* Sequencer.css */

.sequencer {
  margin: 50px;
  /* border: 1px solid black; */
}

.pads {
  padding: 2px;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  border-radius: 5px;
}

.pad {
  border: 1px solid black;
  border-radius: 3px;
  width : 50px;
  height: 30px;
  margin: 5px;
}

.progress_on {
  background-color: #ED553B;
}


.progress {
  border: 1px solid black;
  border-radius: 3px;
  width : 50px;
  height: 10px;
  margin: 5px;
}

.pad_on {
  background-color: #FFF130;
}

.volume {
  width: 60px;
  margin-top: 3px;
  border: 1px sold black;
}



.text {
  text-align: center;
  font-family: 'Baloo Bhai 2';
  margin : auto;
  justify-content: center;
  align-items: center; 
}


/* .btn-group {
  border: 1px solid black;
} */

